h3{
    color: rgb(236, 141, 141);
}

body{
    color: white;
    background-color: rgb(53, 52, 52);
    /* background-image: url(images/fond.jpg); */
}

nav{
    position: relative;
    top: 0px; left: -10px;
    /* color: green; */
}

main{
    position: relative;
    top: -55px; left: 150px;
}