h3{
    color: rgb(236, 141, 141);
}

body{
    color: white;
    background-color: rgb(53, 52, 52);
    /* background-image: url(images/fond.jpg); */
}

nav{
    font-size: 30px;
    position: relative;
    top: 0px; left: -10px;
    /* color: green; */
}

main{
    position: relative;
    top: -85px; left: 200px;
}

p{
    width: 1000px;
}

li{
    list-style-type: none;
}